html {
  font-size: 62.5%;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colorYellow;
  font-family: $fontFamily;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
